
.left img, .right img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left, .right{
  top: 0;
  bottom: 0;
  width: 40px;
}
.left { left: 0; }
.right { right: 0; }


.top img, .bottom img, .bottom-button img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top, .bottom {
  left: 0;
  right: 0;
  height: 50px;
  margin: 0px auto;
  }
.top { top:0; }
.bottom { bottom: 0; }

.bottom-button {
  bottom: 0;
  left: 45%;
  /*transform: translate(-50%, 0);*/
  width: 150px;
  height: 40px;
  margin: 0px auto;
}

.dropzone {
  /*background-color: rgba(200, 200, 200, 0.4);*/
  /*border-radius: 4px;*/
  position: fixed;
  padding: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.marker-copy {
    border-color: #666;
    border-radius: 14px;
    border: dotted 2px;
}

.nav-button-hidden, .drop-inactive, .icon-hidden {
    display: hidden;
    visibility: hidden;
}

.drop-target {
    background-color: #8df;
}


.marker {
  width: 40;
  height: 40;
  /*opacity: 0.8;*/
  /*-webkit-filter: hue-rotate(210deg);*/
}
.icon {
  width: 80;
  height: 80;
}


.demo-area {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
